@font-face {
    font-family: "pokemon";
    src: url(../../Assets/Font/PokemonGb-RAeo.ttf);
}

.item-Card-Total-Desc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px ;
    text-align: center;
    background-color: antiquewhite;
}

.item-Card-Desc{
    background-color: white;
    border-color: black;
    border-width: 12px;
    border-style: double;
    width: 250px;
    height: 500px;
}

.item-Img-Cont-Desc{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-Img{
    height: 65%;
    margin: 20px;
}

.item-Tit-Desc{
    color: black;
    font-family: "pokemon";
    padding-top: 20px;
    font-size: 20px;
    height: 15%;
}

.item-Desc{
    color: black;
    font-family: "pokemon";
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 15%;
}

.item-bot-Desc{
    font-family: "pokemon";;
    border-width: 4px;
    border-style: dashed;
    padding: 5px;
    width: 80%;
    margin-top: 30px;
}

.contador-Desc{
    padding: 20px 0px;
}
.BotVolver{
    font-family: "pokemon";
    text-decoration: none;
    color: black;
    margin-top: 10px;
}