*{
    margin:0px;
    padding:0px;
}

.aaa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar{
    background-color: #fec10c;
    margin: 0px;
    padding: 0px;
    display: block;
}

.navbar-nav{
    display: flex;
    align-items: center;
}
@font-face {
    font-family: "pokemon";
    src: url(../../Assets/Font/PokemonGb-RAeo.ttf);
}

.pokemon-logo{
    height: 100px;
}

.nav-link{
    font-size: 22px;
    margin: 0px 25px;
    font-family: "pokemon";
    cursor: pointer;
}

.carrito-logo{
    height: 40px;
    margin: 0px 25px;
}

.login{
    font-size: 15px;
    color: #25439d;
    align-items: center;
    background-color: #fec10c;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-color: #25439d;
    border-width: 5px;
    font-family: "pokemon";
}